{"swagger":"2.0","info":{"version":"user-v1","title":"Meniga API User-V1","description":""},"host":"api.umw.meniga.net","basePath":"/user/v1","schemes":["http"],"paths":{"/accounts":{"get":{"tags":["Accounts"],"summary":"Get a list of accounts associated with the user","operationId":"Accounts_GetAccounts","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"skip","in":"query","description":"The number of accounts bypassed","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"The maximum number of accounts returned. If null, returns all.","required":false,"type":"integer","format":"int32"},{"name":"realmIdentifier","in":"query","description":"The realm identifier","required":false,"type":"string"},{"name":"accountIdentifier","in":"query","description":"The account identifier","required":false,"type":"string"},{"name":"accountCategory","in":"query","description":"The Account Category as defined by the \"GET /user/v1/accounts/accountcategories\" endpoint.\r\nPassed values can both be the integer id or the string name of the account category.","required":false,"type":"string","enum":["Unknown","Current","Credit","Savings","Loan","Wallet","Manual","Asset"]},{"name":"includeHidden","in":"query","description":"True if hidden accounts should also be returned. False or omitted will only return accounts that are not hidden.","required":false,"type":"boolean"},{"name":"includeDisabled","in":"query","description":"True if disabled accounts should also be returned. False or omitted will only return accounts that are not disabled.","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Core.Api.Models.AccountModel[],Meniga.Runtime.WebApi.Models.Pagination.PaginationMetaModel]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}},"post":{"tags":["Accounts"],"summary":"Create a new account for the given user for a certain realm account type","operationId":"Accounts_CreateAccount","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"accountCreateRequest","in":"body","description":"The data for the new account","required":true,"schema":{"$ref":"#/definitions/Meniga.Core.Api.Models.AccountCreateRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Core.Api.Models.AccountModel]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/accounts/{id}":{"get":{"tags":["Accounts"],"summary":"Get an account associated with the user","operationId":"Accounts_GetAccount","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"the Id of the account","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Core.Api.Models.AccountModel]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}},"put":{"tags":["Accounts"],"summary":"Update an account","operationId":"Accounts_UpdateAccount","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The id of the account","required":true,"type":"integer","format":"int64"},{"name":"accountUpdateRequest","in":"body","description":"The account data to update","required":true,"schema":{"$ref":"#/definitions/Meniga.Core.Api.Models.AccountUpdateRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Core.Api.Models.AccountModel]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}},"delete":{"tags":["Accounts"],"summary":"Hard delete of an account and all connected transactions, enrichment data and user events belonging to it","operationId":"Accounts_DeleteAccount","consumes":[],"produces":[],"parameters":[{"name":"id","in":"path","description":"The Id of the account","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"No Content"},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/accounts/accounttypes":{"get":{"tags":["Accounts"],"summary":"Get a list of all general account types within the system","operationId":"Accounts_GetAccountTypes","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"organizationId","in":"query","description":"The Id of an organization to get the account types for. If empty then return all account types.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[System.Collections.Generic.List[Meniga.Core.Api.Models.AccountTypeModel]]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/accounts/accounttypes/{id}":{"get":{"tags":["Accounts"],"summary":"Get an account type","operationId":"Accounts_GetAccountType","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The Id of the account type","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Core.Api.Models.AccountTypeModel]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/accounts/accountcategories":{"get":{"tags":["Accounts"],"summary":"Get a list of all available account type categories","operationId":"Accounts_GetAccountCategories","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Core.Api.Models.AccountTypeCategory[]]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/accounts/authorizationtypes":{"get":{"tags":["Accounts"],"summary":"Get a list of all available account authorization types","operationId":"Accounts_GetAccountAuthorizationTypes","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Core.Api.Models.NameId[]]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/accounts/{id}/metadata":{"get":{"tags":["Accounts"],"summary":"Get all parameters of an account","operationId":"Accounts_GetAccountMetadata","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The Id of the account","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Core.Api.Models.AccountMetadataModel[]]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}},"put":{"tags":["Accounts"],"summary":"Create or update account parameter","operationId":"Accounts_CreateOrUpdateAccountMetadata","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The Id of the account","required":true,"type":"integer","format":"int64"},{"name":"parameter","in":"body","description":"The account parameter update","required":true,"schema":{"$ref":"#/definitions/Meniga.Core.Api.Models.AccountMetadataModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Core.Api.Models.AccountMetadataModel]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/accounts/{id}/metadata/{name}":{"get":{"tags":["Accounts"],"summary":"Get an account parameter","operationId":"Accounts_GetAccountMetadataEntry","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The Id of the account","required":true,"type":"integer","format":"int64"},{"name":"name","in":"path","description":"The name of the account parameter","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Core.Api.Models.ValueWrapperModel]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/accounts/{id}/history":{"get":{"tags":["Accounts"],"summary":"Get a list of account balance history entries","operationId":"Accounts_GetAccountHistory","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The id of the account","required":true,"type":"integer","format":"int64"},{"name":"dateFrom","in":"query","description":"The inclusive start date (YYYY-MM-DD) for the entries to be fetched","required":true,"type":"string","format":"date-time"},{"name":"dateTo","in":"query","description":"The inclusive end date (YYYY-MM-DD) for the entries to be fetched","required":true,"type":"string","format":"date-time"},{"name":"sort","in":"query","description":"Allows sorting by BalanceDate and Balance. Prefixing the value of the property by \"-\" indicates ordering by DESC else ASC. The default is BalanceDate.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Core.Api.Models.AccountBalanceHistory[]]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/authentication":{"post":{"tags":["Authentication"],"summary":"Creates a token from email and password","operationId":"Authentication_Login","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"emailPass","in":"body","description":"Email and password of the user to authenticate","required":true,"schema":{"$ref":"#/definitions/Meniga.Core.Authentication.Api.Models.EmailPasswordLoginRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Core.Authentication.Api.Models.AuthenticationResponse]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/authentication/after":{"post":{"tags":["Authentication"],"summary":"Perform post authentication tasks.\r\nShould be called after a user is successfully authenticated","operationId":"Authentication_OnAfterLogon","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"patRequest","in":"body","description":"User identifier, realm identifier and parameters submitted during the authentication","required":true,"schema":{"$ref":"#/definitions/Meniga.Core.Authentication.Api.Models.PostAuthenticationTasksRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/authentication/refresh":{"post":{"tags":["Authentication"],"summary":"Refresh the access token to allow long-term access","operationId":"Authentication_RefreshToken","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","description":"The refresh token for a logged in person","required":true,"schema":{"$ref":"#/definitions/Meniga.Core.Authentication.Api.Models.RefreshTokenRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Core.Authentication.Api.Models.AuthenticationResponse]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/authentication/sso/{type}":{"post":{"tags":["Authentication"],"summary":"Authenticate a user using a security token","operationId":"Authentication_SingleSignOn","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"type","in":"path","description":"The name of the AuthClaimsProvider that will create authentication claims from the security token","required":true,"type":"string"},{"name":"securityToken","in":"query","description":"The token used to authenticate. If this parameter is empty, the token is read from the post body.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Core.Authentication.Api.Models.AuthenticationResponse]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/budgets":{"get":{"tags":["Budgets"],"summary":"Get the list of budgets for a user","operationId":"Budgets_GetBudgets","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"ids","in":"query","description":"The ids, comma delimited, of the budgets to return","required":false,"type":"string"},{"name":"accountIds","in":"query","description":"A comma delimited list of account ids to filter budgets by. Only budgets that are associated with these\r\naccounts will be returned","required":false,"type":"string"},{"name":"type","in":"query","description":"The type of budget to return in the list, filters the list down to 1 type","required":false,"type":"string","enum":["Budget","Planning"]}],"responses":{"200":{"description":"A list of budget headers","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[System.Collections.Generic.IEnumerable[Meniga.Component.Budgets.Api.Models.Responses.BudgetHeaderMessage]]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}},"post":{"tags":["Budgets"],"summary":"Create a single budget","operationId":"Budgets_CreateBudget","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"body","in":"body","description":"The budget creation message","required":true,"schema":{"$ref":"#/definitions/Meniga.Component.Budgets.Api.Models.Requests.BudgetCreationMessage"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Component.Budgets.Api.Models.Responses.BudgetCreatedMessage]"}},"201":{"description":"A created budget","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Component.Budgets.Api.Models.Responses.BudgetCreatedMessage]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/budgets/{id}":{"get":{"tags":["Budgets"],"summary":"Gets a single budget for the user","operationId":"Budgets_GetBudget","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The id of the budget to get","required":true,"type":"integer","format":"int64"},{"name":"categoryIds","in":"query","description":"A list of category id's to filter entries by. Only entries linked to these ids will be returned","required":false,"type":"string"},{"name":"startDate","in":"query","description":"The start date (inclusive) to return entries from","required":false,"type":"string","format":"date-time"},{"name":"endDate","in":"query","description":"The end date (inclusive) to return entries to","required":false,"type":"string","format":"date-time"},{"name":"allowOverlappingEntries","in":"query","description":"Defaults to false, entries must be completely bound by the date range supplied.\r\nIf true, entries that intersect the date range will be returned.","required":false,"type":"boolean"},{"name":"includeEntries","in":"query","description":"Defaults to true, return entries with the budget object.\r\nIf false, only return the budget object with no entries.","required":false,"type":"boolean"}],"responses":{"200":{"description":"A single budget with entries","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Component.Budgets.Api.Models.Responses.BudgetMessage]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}},"put":{"tags":["Budgets"],"summary":"Update a budget","operationId":"Budgets_UpdateBudget","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The id of the budget to update","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"The updated budget body","required":true,"schema":{"$ref":"#/definitions/Meniga.Component.Budgets.Api.Models.Requests.BudgetUpdateMessage"}}],"responses":{"200":{"description":"The updated budget model","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Component.Budgets.Api.Models.Responses.BudgetUpdatedMessage]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}},"delete":{"tags":["Budgets"],"summary":"Delete a single budget","operationId":"Budgets_DeleteBudget","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The id of the budget to delete","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"A no content result to denote successful deletion"},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/budgets/{id}/reset":{"post":{"tags":["Budgets"],"summary":"Reset a budget","operationId":"Budgets_ResetBudget","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The id of the budget to reset","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No content if reset was a success"},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/budgets/{id}/entries":{"get":{"tags":["Budgets"],"summary":"Get budget entries for a user","operationId":"Budgets_GetBudgetEntries","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The id of the budget to get entries from","required":true,"type":"integer","format":"int64"},{"name":"categoryIds","in":"query","description":"The category Ids to filter by, only entries associated with these categories will be returned","required":false,"type":"string"},{"name":"startDate","in":"query","description":"The start date (inclusive) from which to get entries","required":false,"type":"string","format":"date-time"},{"name":"endDate","in":"query","description":"The end date (inclusive) to which get entries","required":false,"type":"string","format":"date-time"},{"name":"allowOverlappingEntries","in":"query","description":"Defaults to false, entries must be completely bound by end and start date to be returned. \r\nIf true then entries that intersect the start and end date period are returned.","required":false,"type":"boolean"}],"responses":{"200":{"description":"The budget entries","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[System.Collections.Generic.IEnumerable[Meniga.Component.Budgets.Api.Models.Responses.BudgetEntryMessage]]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}},"post":{"tags":["Budgets"],"summary":"Create entries for a budget","operationId":"Budgets_CreateBudgetEntries","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The id of the budget to create entries in","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"The message with entry creation information","required":true,"schema":{"$ref":"#/definitions/Meniga.Component.Budgets.Api.Models.Requests.BudgetEntriesCreationMessage"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[System.Collections.Generic.IEnumerable[Meniga.Component.Budgets.Api.Models.Responses.BudgetEntryCreatedMessage]]"}},"201":{"description":"Created entries","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[System.Collections.Generic.IEnumerable[Meniga.Component.Budgets.Api.Models.Responses.BudgetEntryCreatedMessage]]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/budgets/{id}/entries/{entryId}":{"get":{"tags":["Budgets"],"summary":"Get a single budget entry","operationId":"Budgets_GetBudgetEntry","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The id of the budget","required":true,"type":"integer","format":"int64"},{"name":"entryId","in":"path","description":"The id of the entry","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Component.Budgets.Api.Models.Responses.BudgetEntryMessage]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}},"put":{"tags":["Budgets"],"summary":"Update a single budget entry for the user","operationId":"Budgets_UpdateBudgetEntry","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int64"},{"name":"entryId","in":"path","description":"","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/Meniga.Component.Budgets.Api.Models.Requests.BudgetEntryUpdateMessage"}}],"responses":{"200":{"description":"The updated budget entry","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Component.Budgets.Api.Models.Responses.BudgetEntryUpdatedMessage]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}},"delete":{"tags":["Budgets"],"summary":"Delete a single budget entry","operationId":"Budgets_DeleteBudgetEntry","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The id of the budget","required":true,"type":"integer","format":"int64"},{"name":"entryId","in":"path","description":"The id of the entry to delete","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"A no content result to denote successful deletion"},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/budgets/{id}/rules":{"get":{"tags":["Budgets"],"summary":"Get rules for a planning budget","operationId":"Budgets_GetPlanningRules","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The id of the budget","required":true,"type":"integer","format":"int64"},{"name":"categoryIds","in":"query","description":"The category ids to filter by, only rules assocated to these categories will be returned","required":false,"type":"string"},{"name":"startDate","in":"query","description":"The start date (inclusive) to return rules from","required":false,"type":"string","format":"date-time"},{"name":"endDate","in":"query","description":"The end date (inclusive) to return rules from","required":false,"type":"string","format":"date-time"},{"name":"allowOverlappingRules","in":"query","description":"Default to false, rules must be completely bound by start and end date to be included in result.\r\nIf true then rules that intersect the start and end date period are returned.","required":false,"type":"boolean"}],"responses":{"200":{"description":"A set of planning rules","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[System.Collections.Generic.IEnumerable[Meniga.Component.Budgets.Api.Models.Responses.BudgetRuleMessage]]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}},"post":{"tags":["Budgets"],"summary":"Create rules for a planning budget","operationId":"Budgets_CreatePlanningRules","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The id of the planning budget","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"The creation message for the rules","required":true,"schema":{"$ref":"#/definitions/Meniga.Component.Budgets.Api.Models.Requests.BudgetRulesCreationMessage"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[System.Collections.Generic.IEnumerable[Meniga.Component.Budgets.Api.Models.Responses.BudgetRuleCreatedMessage]]"}},"201":{"description":"The created planning rules","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[System.Collections.Generic.IEnumerable[Meniga.Component.Budgets.Api.Models.Responses.BudgetRuleCreatedMessage]]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/budgets/{id}/rules/{ruleId}":{"delete":{"tags":["Budgets"],"summary":"Delete a single rule from a planning budget","operationId":"Budgets_DeletePlanningRule","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The id of the budget","required":true,"type":"integer","format":"int64"},{"name":"ruleId","in":"path","description":"The id of the rule","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"A no content result to denote successful deletion"},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/categories":{"get":{"tags":["Categories"],"summary":"Get all categories, depending on the filter either the public ones or the both user and public categories","operationId":"Categories_GetCategories","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"isPublic","in":"query","description":"This is true if the returned categories are public. False if the returned categories are both user and public","required":false,"type":"boolean"},{"name":"culture","in":"query","description":"WARNING: This has been deprecated. Please use Accept-Language HTTP header instead.\r\nThe language the category names should be in (only relevant for public categories, user's custom categories are always in the language they are created)","required":false,"type":"string"},{"name":"skip","in":"query","description":"The number of results skipped","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"The maximum number of results returned. If null, returns all.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Core.Api.Models.CategoryModel[],Meniga.Runtime.WebApi.Models.Pagination.PaginationMetaModel]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}},"post":{"tags":["Categories"],"summary":"Create a new category for a user","operationId":"Categories_CreateUserCategory","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"requestModel","in":"body","required":true,"schema":{"$ref":"#/definitions/Meniga.Core.Api.Models.CategoryCreateRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Core.Api.Models.CategoryModel]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/categories/{id}":{"get":{"tags":["Categories"],"summary":"Get a category","operationId":"Categories_GetById","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The id of the category","required":true,"type":"integer","format":"int32"},{"name":"culture","in":"query","description":"The culture of the category","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Core.Api.Models.CategoryModel]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}},"put":{"tags":["Categories"],"summary":"Update a category","operationId":"Categories_UpdateUserCategory","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The Id of the category","required":true,"type":"integer","format":"int32"},{"name":"modelRequest","in":"body","description":"Information about the category to update","required":true,"schema":{"$ref":"#/definitions/Meniga.Core.Api.Models.CategoryUpdateRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Core.Api.Models.CategoryModel]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}},"delete":{"tags":["Categories"],"summary":"Delete a category and all its child categories","operationId":"Categories_Delete","consumes":[],"produces":[],"parameters":[{"name":"id","in":"path","description":"The Id of the category","required":true,"type":"integer","format":"int32"},{"name":"deleteConnectedRules","in":"query","description":"True if the rules that are connected to the category should be deleted, otherwise false.","required":true,"type":"boolean"},{"name":"newCategoryId","in":"query","description":"The Id of the category where transactions should be moved to. If not set, transactions will be moved to the parent category or to Uncategorized if the category that was deleted is a parent category.","required":false,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/categories/types":{"get":{"tags":["Categories"],"summary":"Get all available category types","operationId":"Categories_GetTypes","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[System.Collections.Generic.List[Meniga.Core.Api.Models.NameId]]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/categories/ranks":{"get":{"tags":["Categories"],"summary":"Get all available category ranks","operationId":"Categories_GetRanks","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[System.Collections.Generic.List[Meniga.Core.Api.Models.NameId]]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/challenges":{"get":{"tags":["Challenges"],"summary":"Gets a list of challenges for the user","description":"The typeData property returns different set of properties depending on the challenge type \r\n             * SuggestedSpending:\r\n                 \"typeData\": {\r\n                   \"targetPercentage\": 10,\r\n                   \"categoryIds\": [12, 13, 14],\r\n                   \"spentAmount\": 10000.0,\r\n                   \"targetAmount\": 9000.0,\r\n                   \"numberOfParticipants\": 0,\r\n                   \"recurringInterval\": \"Monthly\"\r\n                 }\r\n             \r\n             * CustomSpending:\r\n                 \"typeData\": {\r\n                   \"categoryIds\": [12, 13, 14],\r\n                   \"spentAmount\": 10000.0,\r\n                   \"targetAmount\": 9000.0,\r\n                   \"recurringInterval\": \"Monthly\",\r\n                   \"metaData\": \"\"\r\n                 }\r\n            \r\n            Expired challenges:\r\n            A challenge is considered expired when the challenge's end date has passed. That applies to recurring\r\n            challenges too. The expired flag does not refer to a period in a recurring challenge being completed.\r\n            The completed periods of recurring challenges are not returned by this endpoint.\r\n            \r\n            Suggested challenges:\r\n            A suggested challenge is a challenge that is not created by the user and one that the user can accept.\r\n            \r\n            Accepted challenges:\r\n            An accepted challenge is a suggested challenge that the user has accepted.\r\n            \r\n            Disabled challenges:\r\n            A disabled challenges is a challenge that the user has decided to ignore/disable.","operationId":"Challenges_GetChallenges","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"includeExpired","in":"query","description":"Include expired challenges in the response. Default: false (expired challenges are not included in the response)","required":false,"type":"boolean"},{"name":"excludeSuggested","in":"query","description":"Skip suggested/system challenges in the response. Default: false (suggested/system challenges are included in the response)","required":false,"type":"boolean"},{"name":"excludeAccepted","in":"query","description":"Skip accepted challenges in the response. Default: false (accepted challenges are included in the response)","required":false,"type":"boolean"},{"name":"includeDisabled","in":"query","description":"Include ignored/disabled challenges in the response. Default: false (ignored/disabled challenges are not included in the response)","required":false,"type":"boolean"}],"responses":{"200":{"description":"A list of challenges","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[System.Collections.Generic.IList[Meniga.Challenges.Api.Models.UserChallengeModel]]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}},"post":{"tags":["Challenges"],"summary":"Create a challenge for the user","description":"The typeData property takes different set of properties depending on the type that should be created\r\n             * CustomSpending:\r\n                 \"typeData\": {\r\n                   \"categoryIds\": [12, 13, 14],\r\n                   \"spentAmount\": 10000.0,\r\n                   \"targetAmount\": 9000.0,\r\n                   \"recurringInterval\": \"Monthly\",\r\n                   \"metaData\": \"\"\r\n                 }","operationId":"Challenges_CreateChallenge","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","description":"request object containing all necessary parameters","required":true,"schema":{"$ref":"#/definitions/Meniga.Challenges.Api.Models.Requests.CreateUserChallengeRequest"}}],"responses":{"201":{"description":"Created challenge","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Challenges.Api.Models.UserChallengeModel]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/challenges/{id}":{"get":{"tags":["Challenges"],"summary":"Gets challenge by Id","description":"The typeData property returns different set of properties depending on the challenge type\r\n             * SuggestedSpending:\r\n                 \"typeData\": {\r\n                   \"targetPercentage\": 10,\r\n                   \"categoryIds\": [12, 13, 14],\r\n                   \"spentAmount\": 10000.0,\r\n                   \"targetAmount\": 9000.0,\r\n                   \"numberOfParticipants\": 0,\r\n                   \"recurringInterval\": \"Monthly\"\r\n                 }\r\n             \r\n             * CustomSpending:\r\n                 \"typeData\": {\r\n                   \"categoryIds\": [12, 13, 14],\r\n                   \"spentAmount\": 10000.0,\r\n                   \"targetAmount\": 9000.0,\r\n                   \"recurringInterval\": \"Monthly\",\r\n                   \"metaData\": \"\"\r\n                 }","operationId":"Challenges_GetChallenge","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Challenge","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Challenges.Api.Models.UserChallengeModel]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"404":{"description":"Challenge not found"},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}},"put":{"tags":["Challenges"],"summary":"Updates a challenge for the user","description":"The typeData property takes different set of properties depending on the type that should be created\r\n             * SuggestedSpending:\r\n                 \"typeData\": {\r\n                   \"targetAmount\": 9000.0,\r\n                 }\r\n             * CustomSpending:\r\n                 \"typeData\": {\r\n                   \"categoryIds\": [12, 13, 14],\r\n                   \"targetAmount\": 9000.0,\r\n                   \"metaData\": \"\"\r\n                 }","operationId":"Challenges_UpdateChallenge","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"the id of the challenge to update","required":true,"type":"string","format":"uuid"},{"name":"request","in":"body","description":"request object containing all necessary parameters","required":true,"schema":{"$ref":"#/definitions/Meniga.Challenges.Api.Models.Requests.UpdateUserChallengeRequest"}}],"responses":{"200":{"description":"Updated challenge","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Challenges.Api.Models.UserChallengeModel]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"404":{"description":"Challenge not found"},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}},"delete":{"tags":["Challenges"],"summary":"Deletes a challenge by id. The challenge must have been accepted by the user","operationId":"Challenges_DeleteChallenge","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The id of the challenge to delete","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"Challenge deleted"},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"404":{"description":"Challenge not found"},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/challenges/{id}/accept":{"post":{"tags":["Challenges"],"summary":"Accepts a challenge for the user","description":"This method returns 202 Accepted when the response is returned before the spent amount has been determined.\r\nThe waiting time is determined by the request, the default is to not wait at all.","operationId":"Challenges_AcceptChallenge","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The id of the challenge to accept","required":true,"type":"string","format":"uuid"},{"name":"request","in":"body","description":"The challenge acceptance model","required":true,"schema":{"$ref":"#/definitions/Meniga.Challenges.Api.Models.Requests.AcceptChallengeRequest"}}],"responses":{"200":{"description":"Challenge accepted","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Challenges.Api.Models.UserChallengeModel]"}},"202":{"description":"Challenge accepted without the spent amount","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Challenges.Api.Models.UserChallengeModel]"}},"400":{"description":"Validation error","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiClientError]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"404":{"description":"Challenge not found"},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/challenges/{id}/disable":{"post":{"tags":["Challenges"],"summary":"Disable a challenge for the user","description":"Pauses previously accepted challenge. \r\nFor suggested challenges not accepted yet an acceptance is made but in disabled state.\r\nDisabled challenges can be re-enabled by using the enable endpoint.","operationId":"Challenges_DisableChallenge","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The id of the challenge to disable","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"Challenge disabled"},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"404":{"description":"Challenge not found"},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/challenges/{id}/enable":{"post":{"tags":["Challenges"],"summary":"Enable a challenge for the user","description":"Resumes previously disabled challenge.","operationId":"Challenges_EnableChallenge","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The id of the challenge to enable","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"Challenge enabled"},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"404":{"description":"Challenge not found"},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/challenges/{id}/history":{"get":{"tags":["Challenges"],"summary":"Gets a list of completed periods of a recurring challenge","description":"The typeData property returns different set of properties depending on the challenge type \r\n             * SuggestedSpending:\r\n                 \"typeData\": {\r\n                   \"targetPercentage\": 10,\r\n                   \"categoryIds\": [12, 13, 14],\r\n                   \"spentAmount\": 10000.0,\r\n                   \"targetAmount\": 9000.0,\r\n                   \"numberOfParticipants\": 0,\r\n                   \"recurringInterval\": \"Monthly\"\r\n                 }\r\n             \r\n             * CustomSpending:\r\n                 \"typeData\": {\r\n                   \"categoryIds\": [12, 13, 14],\r\n                   \"spentAmount\": 10000.0,\r\n                   \"targetAmount\": 9000.0,\r\n                   \"recurringInterval\": \"Monthly\",\r\n                   \"metaData\": \"\"\r\n                 }","operationId":"Challenges_GetRecurringChallengeHistory","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The challenge identifier","required":true,"type":"string","format":"uuid"},{"name":"skip","in":"query","description":"Number of items to skip, default zero items","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Number of items to fetch, default all items","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"A list of completed periods of a recurring challenges","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[System.Collections.Generic.IList[Meniga.Challenges.Api.Models.UserChallengeModel]]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"404":{"description":"Challenge not found"},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/challenges/icons":{"get":{"tags":["Challenges"],"summary":"Get available challenges icon resources","operationId":"Challenges_GetIcons","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"format","in":"query","description":"Icon format to filter by","required":false,"type":"string","enum":["all","svg","png"]}],"responses":{"200":{"description":"Icon resources","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[System.Collections.Generic.IList[Meniga.Challenges.Api.Models.IconResource]]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/challenges/icons/{id}":{"get":{"tags":["Challenges"],"summary":"Get an icon based on identifier","description":"The content type of the response is \"image/svg+xml\" for the SVG format and \"image/png\" for the PNG format.","operationId":"Challenges_GetIcon","consumes":[],"produces":["application/json","text/json","image/png","image/svg+xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Icon","schema":{"type":"string"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/eventtracking":{"post":{"tags":["EventTracking"],"summary":"Track a custom event","operationId":"EventTracking_TrackEvent","consumes":["application/json","text/json"],"produces":[],"parameters":[{"name":"request","in":"body","description":"The metrics to be tracked","required":true,"schema":{"$ref":"#/definitions/Meniga.Core.Api.Models.EventTrackingPostRequest"}}],"responses":{"204":{"description":"No Content"},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/feed":{"get":{"tags":["Feed"],"summary":"Get user feed i.e. transactions and user events","operationId":"Feed_GetFeed","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"skip","in":"query","description":"How many pages should be skipped","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"How many results should be fetched in a page. If null, returns 1000.","required":false,"type":"integer","format":"int32"},{"name":"dateFrom","in":"query","description":"The inclusive from date (YYYY-MM-DD)","required":false,"type":"string","format":"date-time"},{"name":"dateTo","in":"query","description":"The inclusive to date (YYYY-MM-DD)","required":false,"type":"string","format":"date-time"},{"name":"type","in":"query","description":"The types of feed items to supply. Either single value or comma separated list from (\"transactions\", \"userevents\", \"cashback\"). Values can be found at the /feed/types endpoint.","required":false,"type":"string"},{"name":"eventTypeIdentifiers","in":"query","description":"If getting userevents then this will filter the user events based on their eventTypeIdentifier. Either a single value or comma separarated list. Possible values can be found at the /userevents/eventtypes endpoint.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Core.Api.Models.Feed.FeedItemModel[],Meniga.Core.Api.Models.Feed.FeedItemMetaModel]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/feed/{type}/{id}":{"get":{"tags":["Feed"],"summary":"Get a feed item by its Id and type","operationId":"Feed_GetFeedItem","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"type","in":"path","description":"The type of the feed item. See the /feed/types endpoint for supported types","required":true,"type":"string"},{"name":"id","in":"path","description":"The Id of the feed item","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Core.Api.Models.Feed.FeedItemModel]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/feed/scheduledevents":{"get":{"tags":["Feed"],"summary":"Get scheduled events within a specified time period of a specific type","operationId":"Feed_GetScheduledEvents","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"eventType","in":"query","required":true,"type":"string","enum":["Weekly","Monthly"]},{"name":"startDate","in":"query","required":true,"type":"string","format":"date-time"},{"name":"endDate","in":"query","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Core.Api.Models.Feed.FeedItemModel[],Meniga.Core.Api.Models.Feed.FeedItemMetaModel]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/feed/types":{"get":{"tags":["Feed"],"summary":"Returns all available feed types","operationId":"Feed_GetFeedTypeNames","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[System.String[]]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/lifegoals/{id}":{"get":{"tags":["LifeGoals"],"summary":"Get a life goal","operationId":"LifeGoals_GetLifeGoal","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The id of the life goal","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Component.LifeGoals.Api.Models.LifeGoalModel]"}},"400":{"description":"Validation error","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiClientError]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}},"put":{"tags":["LifeGoals"],"summary":"Update a life goal","operationId":"LifeGoals_UpdateLifeGoal","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The id of the life goal","required":true,"type":"integer","format":"int64"},{"name":"request","in":"body","description":"An object containing information about the for the updated life goal","required":true,"schema":{"$ref":"#/definitions/Meniga.Component.LifeGoals.Api.Models.UpdateLifeGoalRequestModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Component.LifeGoals.Api.Models.LifeGoalModel]"}},"400":{"description":"Validation error","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiClientError]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}},"delete":{"tags":["LifeGoals"],"summary":"Delete a life goal","operationId":"LifeGoals_DeleteLifeGoal","consumes":[],"produces":[],"parameters":[{"name":"id","in":"path","description":"The id of the life goal","required":true,"type":"integer","format":"int64"}],"responses":{"204":{"description":"No Content"},"400":{"description":"Validation error","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiClientError]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/lifegoals/{id}/history":{"get":{"tags":["LifeGoals"],"summary":"Get a life goal's history","operationId":"LifeGoals_GetHistory","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The id of the life goal","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Component.LifeGoals.Api.Models.LifeGoalHistoryRecordModel[]]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"404":{"description":"The requested life goal doesn´t exist"},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/lifegoals":{"get":{"tags":["LifeGoals"],"summary":"Get life goals","operationId":"LifeGoals_GetLifeGoals","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"lifeGoalIds","in":"query","description":"A comma-separated string containing the ids of life goals to be included. If empty then all life goals will be included.","required":false,"type":"string"},{"name":"excludeAchievedGoals","in":"query","description":"True if achieved goals should be exluded in the response","required":false,"type":"boolean"},{"name":"accountIds","in":"query","description":"A comma-separated string containing the ids of account Ids to filter by","required":false,"type":"string"},{"name":"skip","in":"query","description":"Number of records to skip","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Number of records to return;","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[System.Collections.Generic.IEnumerable[Meniga.Component.LifeGoals.Api.Models.LifeGoalModel]]"}},"400":{"description":"Validation error","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiClientError]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}},"post":{"tags":["LifeGoals"],"summary":"Create a new life goal","operationId":"LifeGoals_CreateLifeGoal","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","description":"An object containing information about the new life goal","required":true,"schema":{"$ref":"#/definitions/Meniga.Component.LifeGoals.Api.Models.CreateLifeGoalRequestModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Component.LifeGoals.Api.Models.LifeGoalModel]"}},"400":{"description":"Validation error","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiClientError]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/lifegoals/accountInfo":{"get":{"tags":["LifeGoals"],"summary":"Get account info for given account ids.","operationId":"LifeGoals_GetAccounts","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"accountIds","in":"query","description":"Comma list of account ids","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Component.LifeGoals.Api.Models.LifeGoalAccountModel[],Meniga.Component.LifeGoals.Core.Models.LifeGoalAccountModelMeta]"}},"400":{"description":"Validation error","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/media/{id}":{"get":{"tags":["Media"],"summary":"Get media based on identifier and file ending","operationId":"Media_GetMedia","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Id of the media item with the requsted file ending type. \r\nIf file ending type is missing then image’s default content type is used.","required":true,"type":"string"},{"name":"width","in":"query","description":"Requested width of the image.\r\nIf not provided, then image’s default width is used","required":false,"type":"integer","format":"int32"},{"name":"height","in":"query","description":"Requested height of the image\r\nIf not provided, then image’s default height is used","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Get media","schema":{"format":"byte","type":"string"}},"404":{"description":"Media file not found"},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/merchants/{id}":{"get":{"tags":["Merchants"],"summary":"Get a merchant","operationId":"Merchants_GetById","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The Id of the merchant","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Core.Api.Models.Merchant]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/merchants":{"get":{"tags":["Merchants"],"summary":"Get a list of merchants","operationId":"Merchants_GetByIds","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"merchantIds","in":"query","description":"A comma separate string of merchant Ids","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[System.Collections.Generic.List[Meniga.Core.Api.Models.Merchant]]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/merchants/top":{"post":{"tags":["Merchants"],"summary":"Get the top merchants for the passed in filter\r\nCurrently the only supported measurement is NettoAmount (options.measurement : 0) so\r\nthe merchant with the highest net amount will be at the top of the result.","operationId":"Merchants_GetTopMerchants","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","description":"Defines the filter to use when counting top merchants and the measurement which decides the order of the returned merchants","required":true,"schema":{"$ref":"#/definitions/Meniga.Core.Api.Models.TopMerchantsRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Core.Api.Models.TopMerchant[]]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/networth":{"get":{"tags":["NetWorth"],"summary":"Get a list of net worth accounts with their balance histories","operationId":"NetWorth_GetNetWorthAccounts","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"skip","in":"query","description":"Number of accounts to skip","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Number of accounts to fetch. If null, returns all.","required":false,"type":"integer","format":"int32"},{"name":"startDate","in":"query","description":"The inclusive start date (yyyy-MM-dd)","required":true,"type":"string","format":"date-time"},{"name":"endDate","in":"query","description":"The inclusive end date (yyyy-MM-dd)","required":true,"type":"string","format":"date-time"},{"name":"useInterpolation","in":"query","description":"A flag indicating if the result should be projected so that the history list contains only one entry per month.\r\nIf entry doesn't exist for a given month we add one with default values","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[System.Collections.Generic.IList[Meniga.Core.DataContract.AccountBalanceHistoryWrapper],Meniga.Runtime.WebApi.Models.Pagination.PaginationMetaModel]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/networth/intervalgrouping":{"get":{"tags":["NetWorth"],"summary":"Get a list of net worth accounts with their balance history entries grouped by the interval grouping enum where only the last entry matching the selected enum value is returned","operationId":"NetWorth_GetNetWorthAccountsIntervalGrouping","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"skip","in":"query","description":"Number of accounts to skip","required":false,"type":"integer","format":"int32"},{"name":"take","in":"query","description":"Number of accounts to fetch. If null, returns all.","required":false,"type":"integer","format":"int32"},{"name":"startDate","in":"query","description":"The inclusive start date (yyyy-MM-dd)","required":true,"type":"string","format":"date-time"},{"name":"endDate","in":"query","description":"The inclusive end date (yyyy-MM-dd)","required":true,"type":"string","format":"date-time"},{"name":"intervalGrouping","in":"query","description":"An interval enum indicating what balance history entries should be returned. Possible values are \"Daily\", \"Monthly\" and \"Yearly\".\r\nE.g. if \"Daily\" is chosen the last entry for each day for each account will be returned.","required":true,"type":"string","enum":["Daily","Monthly","Yearly"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[System.Collections.Generic.IList[Meniga.Core.DataContract.AccountBalanceHistoryWrapper],Meniga.Runtime.WebApi.Models.Pagination.PaginationMetaModel]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/networth/first":{"get":{"tags":["NetWorth"],"summary":"Get the first account balance history entry","operationId":"NetWorth_GetFirstAccountBalanceHistoryEntry","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"excludeAccountsExcludedFromNetWorth","in":"query","description":"Flag indicating if accounts that are excluded from net worth should be excluded or not","required":true,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Component.NetWorth.Models.AccountBalanceHistoryEntryModel]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/networth/accounts":{"post":{"tags":["NetWorth"],"summary":"Create a manual net worth account","operationId":"NetWorth_CreateManualAccount","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","description":"An object encapsulating the information for manual net worth account creation","required":true,"schema":{"$ref":"#/definitions/Meniga.Component.NetWorth.Models.CreateManualAccountRequestModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Core.DataContract.AccountBalanceHistoryWrapper]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}}},"/networth/accounts/{id}":{"get":{"tags":["NetWorth"],"summary":"Get a manual net worth account","operationId":"NetWorth_GetManualAccount","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The account id of the networth account","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Core.DataContract.AccountBalanceHistoryWrapper]"}},"401":{"description":"The request requires user authentication. If the request already included Authorization credentials, then the 401 response indicates that authorization has been refused for those credentials.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiError]"}},"500":{"description":"The server encountered an unexpected condition which prevented it from fulfilling the request.","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiErrorDocument[Meniga.Runtime.WebApi.Models.Common.JsonApiServerError]"}}}},"put":{"tags":["NetWorth"],"summary":"Update a manual net worth account","operationId":"NetWorth_UpdateManualAccount","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The id of the account","required":true,"type":"integer","format":"int64"},{"name":"request","in":"body","description":"Object encapsulating the boolean value toggling the exclude-from-networth flag and the account name","required":true,"schema":{"$ref":"#/definitions/Meniga.Component.NetWorth.Models.UpdateManualAccountRequestModel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Meniga.Runtime.WebApi.Models.Common.JsonApiDocument[Meniga.Core.DataContract.AccountBalanceHistoryWrapper]"}},"401":{"description":"The request requ
[...]
